@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Auto Rapide</h1>
    <p>Terminé les bagnoles de mononcle</p>
    <img src="@Url.Action("GetImage","GestionVehicules", new {nom = "auto.jpg"})" width=800/>
</div>
